header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-not-favorited {
    color: #e3e3e3;

    &:hover {
        color: red;
    }
}

.btn-favorited {
    color: red;

    &:hover {
        color: #e3e3e3;
    }
}

